#contact {
    // background: var(--primary-color);
    color: var(--bg-color);
    padding: 5rem 0;
    background: linear-gradient(rgba(30, 136, 229, 0.7), rgba(30, 136, 229, 0.7)), url('../../../anothercleaner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--bg-color);
  }
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
  .contact-info {
    flex: 1;
    background: var(--accent-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-info-item {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    // background-color: var(--bg-color);
  }
  .contact-info-item p {
    font-weight: 600;
    margin-bottom: 0px;
  }
  .contact-info-item i {
    font-size: 1rem;
    color: var(--accent-color);
    margin-right: 1rem;
    background: var(--primary-color);
    padding: 0.5rem;
    border-radius: 50%;
  }
  .contact-form {
    flex: 2;
    padding: 3rem;
    color: var(--text-color);
  }

.btn {
  display: inline-block;
  width: 100%;
  background: var(--accent-color);
  color: var(--bg-color);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}
.btn:hover {
  background: var(--primary-color);
  transform: translateY(-3px);
}

.form-group {
  position: relative;

  input, textarea {
    border-radius: 7px;
    border: 1px solid var(--accent-color);
    background-color: unset;
    outline: none;
    font-size: 1rem;
    color: #fff;
    color-scheme: dark;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 1.2rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  label {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    color: var(--accent-color);
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
  }

  input:focus + label, input:not(:placeholder-shown) + label {
    transform: translateY(-1rem) scale(0.8);
  }
  textarea:focus + label, textarea:not(:placeholder-shown) + label {
    transform: translateY(-1rem) scale(0.8);
  }
}

small {
  color: var(--accent-color);
}






  footer {
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.5rem;
    }
    .hero p {
      font-size: 1rem;
    }
    .feature-grid,
    .about-grid {
      grid-template-columns: 1fr;
    }
    .contact-container {
      flex-direction: column;
    }
    .contact-info,
    .contact-form {
      padding: 2rem;
    }
  }